@import 'tailwindcss';

:root {
	--green-900: #666957;
	--green-600: #858e7d;
	--pink-900: #b08a80;
	--pink-600: #eebfbb;
	--pink-300: #ffe6e4;
	--primary: #111111;
}

@theme inline {
	--color-green-900: var(--green-900);
	--color-green-600: var(--green-600);
	--color-pink-900: var(--pink-900);
	--color-pink-600: var(--pink-600);
	--color-pink-300: var(--pink-300);
	--color-primary: var(--primary);
}

body {
	color: var(--primary);
	font-family: var(--font-comfortaa), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-gogol), sans-serif;
}

th {
	@apply pb-1 md:pb-2;
}

td {
	@apply py-1 px-2 md:py-2 md:px-4 lg:py-3 lg:px-6;
}

.button {
	@apply rounded-lg py-2 px-6 bg-green-900 text-white cursor-pointer shadow transition-colors hover:bg-green-600 md:px-8 lg:text-lg lg:px-12;
}

.button.button--warning {
	@apply bg-pink-600 text-primary hover:bg-pink-300;
}

.button.button--disabled {
	opacity: 50% !important;
	pointer-events: none !important;
}

.timer-block {
	@apply flex flex-col items-center justify-center min-w-[100px];
}

.number {
	@apply text-6xl -mb-5 md:text-7xl md:-mb-6 lg:text-8xl lg:-mb-7;
	font-family: var(--font-gogol), sans-serif;
}

.colored-circle {
	@apply w-14 h-14 rounded-full border border-green-900;
}

.question-block {
	@apply flex flex-col text-left;
}

.question-title {
	@apply font-bold text-lg mb-2;
}
